<style>
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

ul {
list-style-type: none;
}

.column {
  height: 100px;
  width: 100px;
  float: left;
  border: none;
  background-color: #fcf;
  margin-right: 5px;
  padding-right: 15px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}


.ideatext {
  height : 80px;
  width : 100px;
}


.vote {
  height: 20px;
  width: 50px;
  border: none;

}

</style>
