<style>
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

ul {
list-style-type: none;
}

.mainDiv{
  height: 100%;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  border: none;
}

.cards{
  height: 100px;
  width: 100px;
  float: left;
  border: none;
  background-color: #ddf;
  margin-right: 15px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}

.ideatext {
  height : 80px;
  width : 100%;
}

.cardfooter{
  height: 20px;
  width: 100px;
  border: none;
}


.vote {
  height: 20px;
  width: 50px;
  border: none;
  float: left;

}

.editcard{
  height: 20px;
  width: 50px;
  border: none;
  float: right;
  text-align: right;
}

.lightbox {
  padding-bottom: 20px;
  padding-top: 20px;
}

.lightbox textarea{
  margin-left: 20px;
}

</style>
