<!doctype html>
<html ng-app="myapp">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src = "http://code.angularjs.org/1.0.2/angular.min.js"> </script>
	<script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src = "js/idea.js"> </script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/ideaapp.css">
</head>
<body>
	<div class = "mainDiv" ng-controller="IdeaCtrl">
	<h1 align="center">Welcome to Idea Boardz : {{userName}}</h1>
	<form class = "form-horizontal">
	<div>
		<span style= "margin-left:20px; padding-bottom:20px;"> <input type = "text" ng-model="FormIdeaText" placeholder = "Got an Idea !!!" > 
		<button class = "btn btn-small btn-success" ng-click="addIdea();"><i class="icon-plus"></i></button> </span> 
	</div>
	<div class="lightbox" ng-show="lightbox.ideaForm.on">	

		<textarea ng-model = "edittedIdeaText" placeholder = "Enter Text Here!!!"></textarea>
		<button title =  "Update Idea" class = "btn btn-mini btn-primary" ng-click = "updateIdeaText();"><i class = "icon-ok"></i></button>
		<button title = "Close" class = "btn btn-mini btn-primary" ng-click = "lightbox.close('ideaForm');"><i class = "icon-remove"></i></button>

	</div>	
	<div>
	
	<ul ui:sortable ng-model="ideas">
			<li ng-repeat = "idea in ideas" class = "cards"> 
				<div class = "ideatext" >
					{{idea.text}}
				</div>
				<div class = "cardfooter">
					<div class="vote">
						<button title = "Vote up" class= "btn btn-mini btn-link" toolTip = "Vote Up" ng-model = "idea.votes" ng-click = "voteUp(idea);"><i class = "icon-thumbs-up"></i></button> {{idea.votes}} 
					</div>
					<div class = "editcard">
						<button title = "Edit Idea" class= "btn btn-mini btn-link" ng-model = "idea.text" ng-click = "editCard(idea);"><i class= "icon-edit"></i></button>
					</div>
				</div>
			 </li>
	</ul>
	</div>
	 
	 <br/> <br/>

</div>
</form>
</body>	
</html>



